# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
node_modules
dist
.cache
/.editorconfig
/.gitattributes
/.idea/.gitignore
/img/.gitkeep
/js/vendor/.gitkeep
/css/404.css
/404.html
/.idea/discord.xml
/js/globals.css
/.idea/modules.xml
/package.json
/.idea/inspectionProfiles/Project_Default.xml
/robots.txt
/site.webmanifest
/js/style.css
/.idea/test.iml
/.idea/vcs.xml
/webpack.common.js
/webpack.config.dev.js
/webpack.config.prod.js
